body {
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    padding: 0;
    background-color: #232f3e;
    color: white;
  }

  .hero-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
  }

  .pagetitle {
    text-align: center;
  }

  nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    z-index: 1000;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  nav ul li {
    display: inline;
    margin: 0 10px;  
  }

  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  nav ul li a:hover {
    background-color: #555;
  }

  section {
    padding: 20px;
    margin-top: 50px;
    height: 100vh;
  }

  .highlight {
    background-color: #f0f0f0;
  }

  .teamimages{
    width: 200px;
    height: 200px;  
  }

  .wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative; 
    width: 100%; 
    bottom: 0; 
    left: 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content ul {
    list-style: none;
}

.footer-content ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer-content ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-content ul li a:hover {
    text-decoration: underline;
}







  @media screen and (max-width: 600px) {
    nav ul {
      position: relative;
      float: none;
      width: 100%;
      text-align: center;
    }
    nav ul li {
      display: block;
      margin: 10px 0;
    }
    nav ul li a {
      padding: 3px 6px;
      font-size: 14px; /* Reduce font size */
    }
  }
