body {
  margin: 0;
  font-size: 16px;
  font-family: Source Code Pro;
  background-color: white;
  color: white;
}

.header {
  color: white;
  background-color: black;
  padding: 10px;
  text-align: center;
}

#navbar {
  overflow: hidden;
  background-color: black;
  margin-bottom: 35px;
}

#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: white;
  color: black;
}

#navbar a.active {
  background-color: white;
  color: black;
}

.hero-image {
  width: 100%;
}
