body {
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    padding: 0;
    background-color: #232f3e;
    color: white;
  }

.header {
  text-decoration: none;
  top: 0px;
}

.grid-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: #232f3e;
  padding: 25px
}

.grid-item {
  flex-grow: 1;
  margin: 0 10px;
  text-align: center;
}

  .hero-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
  }

  .pagetitle {
    text-align: center;
  }

  nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    z-index: 1000;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    text-align: center;
  }

  nav ul li {
    display: inline;
    margin: 0 10px;  
  }

  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  nav ul li a:hover {
    background-color: #555;
  }

  section {
    padding: 20px;
    margin-top: 50px;
    height: auto
  }

  .highlight {
    background-color: #232f3e
  }

  .teamimages{
    display: block;
    width: 400px;
    height: 250px;  
    margin: 0 auto;
  }

  .wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative; 
    width: 100%; 
    bottom: 0; 
    left: 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content ul {
    list-style: none;
}

.footer-content ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer-content ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-content ul li a:hover {
    text-decoration: underline;
}









  @media screen and (max-width: 600px) {
  .grid-container{
    display: none;
  }

  nav {
    display: none;
  }

  .mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: rgb(0, 0, 0);
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: #04AA6D;
    color: white;
  }

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  
  }
  